<html>

<head>
    <title>
        <%=locals.title%>
    </title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- our css should below all the style so that we can override -->
    <link rel="stylesheet" href="/css/home.css">

</head>

<body>

    <div id="mb">
        <div class="element">
            <h1 id="page-heading">
                <i class="fas fa-address-book "></i> My Contacts List
            </h1>
        </div>
        <div id="contact-list-container" class="element">
            <ul>
                <% for(let i of contact_list) {%>
                    <li class="contact">
                        <div class="details-name">
                            <p>
                                <%= i.name %>
                            </p>
                        </div>
                        <div class="details-contact-number delete-button">

                            <div>
                                <p>
                                    <%= i.phone %>
                                </p>
                            </div>

                            <div>
                                <a href="/delete-contact/?id=<%=i._id%>">
                                    <i class="fas fa-window-close"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>

    <form id="new-contact-form" action="/create_contact" method="POST">
        <input type="text" name="name" required placeholder="Enter Name">
        <input type="number" name="phone" required placeholder="Enter Phone number">

        <button type="submit">Add Contact</button>

    </form>

    <script type="text/javascript" src="/js/home.js">
    </script>

</body>

</html>